.ps-section-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ps-section-text {
  width: 40%;
}

.ps-section-text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.ps-section-text p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.ps-section-text button:hover {
  background-color: #005ea3;
}

.ps-section-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps-section-image img {
  max-width: 100%;
  height: auto;
}
.ps-blur{
  filter: blur(5px); transition: filter 0.5s ease-out;
}
.ps-blur:hover{
  filter: none;
}

.blog-button{
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(230, 64, 42);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .ps-section-content {
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
  }
  .ps-section-content {
display: block;  
}

.ps-section-text h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 16px;
}
  
  .ps-section-text {
    width: 100%;
  }
  .ps-section-text p{
    width: 100;
  }
  .ps-section-image {
    width: 100%;
  }
  
  .ps-section-image img {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .ps-section-content {
    display: block;  
    }
      
      .ps-section-text {
        width: 100;
      }
      .ps-section-text p{
        display: block;
      }
      .ps-section-image {
        width: 100%;
      }
      
      .ps-section-image img {
        margin-top: 30px;
      }
}