
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  padding: 8px;
  display: grid;
  background-color: #4f8aff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  grid-template-columns:1fr 2fr 1fr;
}


.menu-link {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginButton-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginButton{
  grid-column: 3/4;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 40px;
  
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: black;
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: black;
  transition: 0.5s;
}

.hamburger-menu {
  display: none;
}


.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

.glassy-button:hover {
  
  background-color:#e6e6e6;
  box-shadow: 0px 0px 10px rgba(75, 73, 73, 0.5);
  
}

/* For Glowing the logo */
.shine-effect {
  position: relative;
}

.shine-effect:hover::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(255,255,255,0.5), rgba(255,255,255,0.3));
  z-index: 1;
  animation: shine 1s infinite linear;
}

.logo-container{
max-height: 80%;
display: flex;
margin: 8px;
justify-content: center;
align-items: center;
}
.website-logo{
  border-radius: 50%;
  height: 60%;
  width: 60%;
}

@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns:1fr 2fr 1fr;
  }

  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

.hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns:1fr 2fr 1fr;
  }

  .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns:1fr 2fr 1fr;
  }

  .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .hero-section h1 {
    font-size: 3.8rem;
  }
}


